html {
  overflow: hidden;
  height: 100%;
}

@font-face{
  font-family: BitEight;
  src: url(8bit/Pixeboy-z8XGD.woff);
  font-weight: bold;
}

#notification{
  font-family: BitEight;
  position: relative;
  right: -9px;
  font-size: 30px;
  line-height: 26px;

}

#wrappeNotification{
  visibility: hidden;
  width: 30px;
  height: 30px;
  background-color:#F0BE24;
  border-radius: 15px;
  position: absolute;
  right: 72%;
  top: -8%;
  border: 2px solid black;
}


video {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  object-fit: cover;
}

body {
  background-color: black;
  margin: 0;
  
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

* {
  margin: 0;
  padding: 0;
}

.top-bar {
  background: #333;
  color: #fff;
  padding: 1rem;
}

#container {
  width: auto;
  transition: margin-right .5s;
}

.pdf-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: margin-left 0.5s;
}

#container #next-page {
  display: inline-block;
  opacity: 0.5;
  font-size: 1em;
  line-height: 0px;
  width: 6em;
  margin-right: 0.5%;
  transition: margin-right 0.5s;
  position: absolute;
  top: 50%;
  right: 0%;
}

#container #prev-page {
  display: inline-block;
  opacity: 0.5;
  font-size: 1em;
  line-height: 0px;
  width: 6em;
  margin-left: 0.5%;
  position: absolute;
  top: 50%;
}




#container #progress-bar {
  width: 8em;
  height: 3em;
  position: absolute;
  left: calc(50% - 100px);
  opacity: 0.5;
  top:85%;
  transition: margin-left 0.5s;
}
#container #select-audio{
  width: 8em;
  opacity: 0.5;
  display: inline-block;
}
#container  #select-video {
  width: 8em;
  opacity: 0.5;
  display: inline-block;
}

#full-chat{
  float: right;
  height: 110px;
}

#full-chat-slave{
  float: right;
  height: 110px;
}

.poll-master{
  color: black !important;
  top:20px;
  width: 12.6em;
}

.poll-slave{
  margin-bottom:10px !important;
  margin-top:10px !important;
  width: 61%;
}

#chatLogo{
  position: relative;
  top: 8%;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
} 


#container #text-canvas {
  color: black;
  display: inline-block;
  position: absolute;
  top: 0%;
  left: 0%;
}


.small-video{
  width: 10em;
  height: 10em;
}
.big-video{
  width: 15em;
  height: 15em;
}
/* .toleft{
  left:0%;

}
.toright{
  right:0%;

} */



::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
#chat-input{
  background-color:#212529; 
  font-size: 1em; 
  color:white;
  resize: none;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#chat {
  overflow: hidden;
  top: 0%;
  right: 0%;
  position: absolute;
  width: 50em;
  height: 50em;
  z-index: 3;
  display: none;
  font-size: 1em;
}
.users{
  height:90%;
  overflow-y: scroll;
}
.nusers{
  height: 5%;

}
.table-chat{
  width: 100%;
  height: 100%;
 
}
#info{
  position: absolute;
  top:2%;
  left:0%;
  width:3em;
}
#video-avatar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#pokemon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-60%, -40%);
}
#liveperson{
  top: 70%;
  position: absolute;
}
#video-balloon-container{
  width: 100%;
  height: 100%;
}
#play {
  position: absolute;
  left:0;
  z-index: 3;
}
#size {
  position: absolute;
  bottom:0%;
  right:0;
  z-index: 3;
}
#vol {
  position: absolute;
  right:0;
  z-index: 3;
}
#video {
  position: absolute;
  left:0;
  z-index: 3;
}
#audio {
  position: absolute;
  right:0;
  z-index: 3;
}
#playvideo {
  position: absolute;
  left:0;
  z-index: 3;
}
.web-cam { 
  width: 100%;
  height: 100%;
  border-radius: 10em;
  z-index: 1;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}
#pokemon {
  position: absolute;
  width: 4em;
  top: 40%;
  display: none;
}

.round {
  border-radius: 50%;
}

.btn:hover {
  opacity: 0.9;
}

.page-info {
  margin-left: 1rem;
}

.error {
  background: orangered;
  color: #fff;
  padding: 1rem;
}

#counter{  
  position: relative;
  left: 5px;
}


#counterButton{
  position: absolute;
  top: 35px;
  left: 23px;
  color: black;
  height: 27px;
  line-height: 10px;
  text-indent: -12px;
}

#counterDiv{
    position: absolute;
    left: 70px;
    top: 10px;
}
.progress{
    height:10px;
    width:0%;
    margin-bottom:4px;
    transition: width 1s;  
}

.nes-input{
  margin-bottom: 8px !important;
}

.delete-option-multiple{
  position: absolute !important;
  top:34%;
  right: 2.5%;
}

.delete-option-open{
  position: absolute !important;
  top: 0%;
  right: 0.5%;
}

.delete-option-ranking{
  position: absolute !important;
  top: 7%;
  right: 0.5%;
}

.div-delete-option{
  position: relative;
  margin-bottom:10px;
}



.labelOption{
  margin-left: 2%;
}

#choice-poll{
  margin:auto;
  margin-top:4px;
  text-align: center;
  margin-right: 35px;
}

.percentages{
    color:white;
    position: absolute;
    top: 50%;
    left: 5%;
}

#notice{
  display:none;
  top: 45%;
  left:29%;
  width: 40%;
}

.question-poll{
  margin-bottom:20px !important;
}

.modal-title{
  margin-bottom:8px !important;
}

.container-select{
  height: 55px;
  padding:0px !important;
}

.container-rank{
  display: inline-block;
}

.rankIcon{
  width: auto;
  height: 50px;
  margin-right:15px;
  opacity: 0.4;
}

.container-select.nes-input input:checked ~ img{
  opacity: 1;
}

.container-select.nes-input input:hover ~ img{
  opacity: 1;
}

.rankIconFinal{
  width: auto;
  height: 38px;
  margin-right:15px;
  opacity: 1;
}

.div-ranking{
  flex-direction: row-reverse;
  display: flex;
  justify-content: flex-end;
  margin-top:10px;
}

.div-ranking > input[type="radio"]:hover ~ label img{
  opacity: 1;
}

.div-ranking > input[type="radio"]:checked ~ label img{
  opacity: 1;
}

.countVoteRanking{
  position: absolute;
  left: 90%;
}

.questionRanking{
  margin-bottom:10px;
  font-size: 18px;
}

.errorPoll{
  display: none;
  color:red;
  margin-bottom:10px;
}

.message_p{
  word-break: break-word;
  font-size: 12px;
}


/* Sliding navbar*/
.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -26%;
  background-color: silver;
  overflow-x: hidden;
  transition: left 0.3s linear;
  padding-top: 10px;
  border: 5px black solid;  
}

.sidenav.animation {
  left:-0%;
}


.sidenav div:hover span{
  color: black;
}
.sidenav a:hover {
  color:black;
}



.sidenav .closebtn {
  position: absolute;
  top:9px;
  right: 5px;
  font-size: 26px;
  margin-left: 50px;
  color: white;
  text-decoration: none !important;
}

#closebtnFromBottom{
  position: relative;
  right: 50%;
  font-size: 26px;
  color: white;
}

.textNavbar{
  color: white;
  position: relative;
  left:1%;
}

.divNavbar{
  margin-bottom:15px;
  margin-left: 10px;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

#nesMenu{
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
  height: 50px;
  width: 50px;
  position: relative;
  left: 11px;
  top:10px;
}

#titleNavbar{
  color: black;
  position: relative; 
  right: 12px; 
  text-align: center;
  margin-bottom:20px;
  margin-top:40px;
  font-size:2vw;
}





.sidenavBlack {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -26%;
  background-color:#212529;
  overflow-x: hidden;
  transition: left 0.3s linear;
  padding-top: 10px;
  border: 5px #636363 solid;  
}

.sidenavBlack.animation {
  left:-0%;
}


.sidenavBlack div:hover span{
  color: grey;
}
.sidenavBlack a:hover {
  color:grey;
}

.sidenavBlack .closebtn {
  position: absolute;
  top:9px;
  right: 5px;
  font-size: 26px;
  margin-left: 50px;
  color: white;
  text-decoration: none !important;
}

/* Chat */

.sidenavChat {
  height: 100vh;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -1%;
  background-color: silver;
  border: 5px black solid;
  transition: width 0.5s;
}


#buttonChat{
  width: 100%;
  height: 5vh;
  border-bottom: 5px black solid;
}


.message-list{
  display: flex;
  flex-direction: column;
  padding: 5px 5px;
  width: auto;
  height:91vh;
  overflow-y: scroll;
  font-size: 0.5em; 
}

.-right{
  align-self: flex-end;
}

.-left{
  align-self: flex-start;
}

.nes-balloon{
  border-image-repeat: initial !important;
}

#messageChat{
    width: 22.5vw;
    position: absolute;
    bottom: 0px;
    height: auto;
}

.handle{
  display: none;
  width: 100%;
  background:white;
  height: 37px;
  margin-bottom: -3px;
  text-align: center;
  border-bottom: 9px solid black;
}

#ytframe{
  display: none;
  border:5px solid black;
  border-radius: 4px;
  z-index: 1;
  position: relative;
}

#trashYT{
  height: 38px;
  position: absolute;
  right: -3px;
  top: -4px;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

#counterPeople{
  height: 50px;
}


/* Risoluzione fissata per tablet in potrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .sidenav{
    height: auto;
    width: 100%;
    top: -370px;
    left:0;
    position: fixed;
    z-index: 1;
    background-color: silver;
    overflow-x: hidden;
    border: 5px black solid;  
  }

  .sidenav.animation {
    top:0px;
  }

  .sidenavBlack {
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: -370px;
    left: 0;
    background-color:#212529;
    overflow-x: hidden;
    border: 5px #636363 solid;  
  }

  .sidenavBlack.animation {
    top:0px;
  }
  

  #titleNavbar{
    right: -2%;
    margin-top:0px;
    font-size: 4vw;
  }
  
  .divNavbar{
    text-align: center;
  }

  .sidenav .closebtn{
    right:0px;
    left: -2%;
  }

  .sidenavBlack .closebtn{
    right:0px;
    left: -2%;
  }


  #closebtnFromBottom{
    display: inline;
    left: 50%;
    top: -5px;
  }
  
  #closeBtnFromLeft{
    display: none;
  }
}

/* Risoluzione fissata per smartphone */
@media screen and (min-width: 320px) and (max-width: 479px),
only screen and (min-device-width : 375px) and (max-device-width : 812px) and (orientation : landscape) {
  #full-screen{
    display: none !important;
  }

  #counterDiv{
    z-index: 2;
    top:11px;
    left: 20px;
  }

  #counterPeople{
    height: 34px;
  }

  #chatLogo{
    width: 64%;
    z-index: 2;
    left:32%;
  }

  #sidenavChat{
    width: 100%;
  }

  #messageChat{
    width: 100%;
  }

  .message-list{
    position: relative;
    top:7%;
    height: 82vh;
  }

  #counterButton{
    top: 21px;
    left: 12px;
    height: 15px;
  }
  #counter{
    font-size: 12px;
    top:-6px;
    z-index:1;
  }

  .sidenavChat{
    right: -3%;
  }
}





 
