<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload file</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>
    <nav>
        <a href="/logout">logout</a>
    </nav>
    <h1> Upload - file</h1>
    <form action="http://localhost:8080/" enctype="multipart/form-data" method="POST">
        <input type="file" name="myFile">
        <input type="submit" value="upload file...">
    </form>
    {{ range . }}
    <div> {{ . }}</div>
    {{ end }}
</body>
</html>